.App {
  width: 500px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  border: 20px solid rgb(225, 219, 219);
}

.divFlex {
  display: flex;
  flex-direction: column;
}

.App-link {
  width: 400px;
  text-decoration: none;
  color: #61dafb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.photo {
  height: 10vmin;
  pointer-events: none;
}
.parragraph {
  padding: 20px;
}
.title {
  font-size: 20px;
}
.subtitle {
  font-size: 16px;
}
