* {
  margin: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.main {
  display: flex;
  flex-wrap: wrap;
}

.article {
  border: 2px solid black;
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
}
.item5 {
  order: -1;
}
