:root {
  --margin: 0;
  --brand-color-titles: grey;
  --brand-color-a: green;
}

body {
  margin: var(--margin);
}

header {
  background-color: #eaeaea;
  padding: 20px;
}

main {
  padding: 20px;
}

p {
  width: 50%;
  font-size: 16px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.title {
  color: var(--brand-color-titles);
  margin: var(--margin);
}

.subtitle {
  color: var(--brand-color-titles);
  margin: var(--margin);
}

.menu li {
  display: inline;
}

.menu a {
  color: var(--brand-color-a);
  text-decoration: none;
}

p a {
  color: var(--brand-color-a);
}
