.body {
  font-size: 18px;
  font-family: Tahoma;
  background-color: mediumpurple;
  color: rebeccapurple;
  line-height: 1.5;
}
/*el tamaño de fuente de la página sea de 18px
el tipo de fuente sea Tahoma
el color de fuente sea rebeccapurple
el color de fondo sea mediumpurple
el interlineado sea de 1.5*/
