* {
  background-color: beige;
  box-sizing: border-box;
  margin: none;
  padding: none;
  list-style: none;
}

.display-block {
  display: block;
  margin: 5px;
}

.border {
  margin-top: 10px;
  padding-left: 5px;
  border: 1px grey solid;
  border-radius: 12px;
}
